.about-me-container {
  display: flex;
  margin-top: 6%;
  align-items: center;
}

.profile-container {
  text-align: center;
  /* position: relative; */
  /* right: 100px; */
}

.profile-container span {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
}

.profile-container img {
  height: 30rem;
  margin-bottom: 7%;
  border-radius: 10rem 10rem 0 0;
  border: 10px solid var(--dkGreen);
  box-shadow: 0 4px 8px 0 rgb(185, 184, 184);
}

.about-me-details {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: var(--ltGray);
  border-style: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(185, 184, 184);
}

.about-me-details h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
}

.about-me-details p {
  text-align: center;
  color: black;
  font-size: 18px;
}

.about-me-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-socials a {
  padding: 2%;
}

.socials-color {
  color: var(--socials);
}

.about-me-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--ltBrown);
  border-style: none;
  border-radius: 10px;
  margin: 1%;
  padding: 5px;
}
