* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* google fonts */
  font-family: 'Raleway', sans-serif;
  /* my color palette for myt portfolio */
  --green: #ccd5ae;
  --ltGray: #edede9;
  --dkGreen: #3a5a40;
  --background: #f5ebe0;
  --ltBrown: #d4a373;
  --socials: #84a59d;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}
